<html>
<%inherit file="main.html" />
<%namespace name='static' file='/static_content.html'/>
<head>
    <meta charset="utf-8"> 
    <link href="${static.url('css/bootstrap.css')}" rel="stylesheet">
    <link href="${static.url('css/bootstrap-theme.css')}" rel="stylesheet"> 
    <link href="${static.url('form/')}">
    <script type="text/javascript" src="${static.url('js/bootstrap.js')}"></script>
    <script type="text/javascript">    
    $(document).ready(function(){
	$("#myModal").on('show.bs.modal', function(event){
        var button = $(event.relatedTarget);  
        var titleData = button.data('title'); 
        $(this).find('.modal-title').text(titleData + ' Form');
      });
    }); 

    
    function AddCatalogClick(){         
    var newItem = document.createElement("LI");
    var textnode = document.createTextNode("Catalog");    
    newItem.appendChild(textnode);
    document.getElementById("cat1").appendChild(newItem);
        alert(document.forms["InputCatalogName"].NameOfCatalog.value);
    }

    
    $(document).ready(function(){
    $("#1").keypress(function(e){
    if(e.keyCode==13){
	var ahref=document.getElementById('1');
    ahref.readOnly=true;     	   
	     	   }
	     	 });
	     });
        
   
    function EditClick(){
    var ahref=document.getElementById('1');
    ahref.removeAttribute('readonly');
    ahref.setAttribute('value', '');     
          }
        
        
     function showHide(ev) {
     ev=ev||window.event
     var elem=(ev.target||ev.srcElement).getElementsByTagName("UL")[0]
     if(!elem)return;
     elem=elem.style;
     elem.display=(elem.display!='block')?'block':'none'
     }

        
    function DeleteClick(){
    alert("Удаляем каталог");}

      
    function AddCourseClick(){
    alert("Добавляем курс");}
    </script>   
</head>
<body>
     <ul onclick="showHide(event)">
    <% label1 = label_list[0] %>
    <li name="${label1.id}">
        <input id="${ label1.id }" type="text" name="txtName" size="30" maxlength="30" value="${ label1.name_of_label }" readonly>
        % if not label1.protected_for_edit:
              <button type="button" class="btn btn-default btn-xs" onClick="EditClick()"><i class="glyphicon glyphicon-pencil"></i></button>
        % else not label1.protected_for_delete:
              <button type="button" class="btn btn-default btn-xs" onClick="DeleteClick();"><i class="glyphicon glyphicon-remove-sign"></i></button>
        % else not abel1.protected_for_add_child:
              <button type="button" class="btn btn-default btn-xs" onClick="AddCourseClick();"><i class="glyphicon glyphicon-ok-sign"></i></button>
        % else not label1.protected_for_add_course:
              <button type="button" class="btn btn-default btn-xs"data-toggle="modal" data-target="#myModal" data-title="AddInCatalog"><i class="glyphicon glyphicon-plus"></i></button>
        % endif
        <ul name="${label1.id}"></ul>
    </li>   
    % for label in label_list:
        % for label_into in label_list:
            % if not label1.id == label_into.id:
                % if label_into.parent.id == label.id: 
                    <script>                                                             
    var newItem = document.createElement("LI");                  
    newItem.setAttribute("name", "${ label_into.id }");                  
    var textnode = document.createTextNode("${ label_into.name_of_label }");                       
    newItem.appendChild(textnode); 
    document.getElementsByName("${ label_into.parent.id }")[1].appendChild(newItem); 
    var newItem1 = document.createElement("UL");
    newItem1.setAttribute("name", "${ label_into.id}");
    document.getElementsByName("${ label_into.id }")[0].appendChild(newItem1);                         
                    </script>
                % endif
            % endif
        % endfor
     % endfor  
    </ul>


       
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title">Modal Window</h4>
                </div>
                <div class="modal-body">
                    <form role="form" name="InputCatalogName">
                            <label for="message-text" class="control-label">Имя каталога: </label>
                            <input type="text" name="NameOfCatalog" id="NameOfCatalog">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" onClick="AddCatalogClick()">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
